.env
.env.*
vendor/
node_modules/
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/storage/
public/uploads/
database/*.sqlite
.git/
.gitignore

